.about-quote-section {
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(
            rgba(31, 43, 108, 0.5),
            rgba(31, 43, 108, 0.5)
        ),
        url("../../../images/quote.png");
    background-size: cover;
    background-repeat: no-repeat;
}
