.mainHeader{
    /* removing background image  */
    /* background-image:url(../../images/img_vid/header_bg.svg); */
    /* background-repeat:no-repeat; */
    /* background-size: auto 100%; */
    width:100%;
    /* padding:10px; */
    /* height: 1440px; */
    background-size: cover;
}

body{
    height:100%;
}