.main-about-area {
    width: 100%;
    margin-top: -31px;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("../../../images/about.png");
    background-size: cover;
    background-repeat: no-repeat;
}
